ray[all] @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp39-cp39-manylinux2014_x86_64.whl
simple-playgrounds @ git+https://github.com/gaorkl/simple-playgrounds@master
gputil
tensorboard
ax-platform
sqlalchemy
hyperopt
HEBO
grpcio==1.43
gym[atari]
autorom[accept-rom-license]

--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision
torchaudio

-f https://data.pyg.org/whl/torch-1.11.0+cu113.html
torch-scatter
torch-sparse
torch-geometric
